
# vc project
*.[oO]bj
*.pdb
*.exp
*.tlog
*.log
*.lastbuildstate
*.manifest
*.pch
*.sdf
*.ilk
*.idb
*.bak
*.ncb
*.DS_Store
*.user
*.suo
*[Cc]ache
*.resharper
*.aps
*.vspscc
*.vssscc
*.sbr
*.exe
*.dll
*.opensdf
ipch

Ankh.NoLoad

#InstallShield
[Ss]ingle[Ii]mage/
[Ii]nterm/
{Dd]{Vv}{Dd] -5/
[Tt]humbs.db
*.tlb
*.tlh
Build/x86/.
Build/x64/.

ExtremeCopy/Test/XCTesting/Debug/*
ExtremeCopy/Test/XCTesting/Release/*

*.unsuccessfulbuild
Installation/ExtremeCopy/PROJECT_ASSISTANT/
Installation/ExtremeCopy/Product Configuration 1/
Installation/ExtremeCopy-pro-32/PROJECT_ASSISTANT/
Installation/ExtremeCopy-pro-32/Product Configuration 1/
Installation/ExtremeCopy-pro-64/PROJECT_ASSISTANT/
Installation/ExtremeCopy-pro-64/Product Configuration 1/
Installation/ExtremeCopy-std-32/PROJECT_ASSISTANT/
Installation/ExtremeCopy-std-32/Product Configuration 1/
Installation/ExtremeCopy-std-64/PROJECT_ASSISTANT/
Installation/ExtremeCopy-std-64/Product Configuration 1/

Installation/ExtremeCopy-std-32-toolbar/PROJECT_ASSISTANT/
Installation/ExtremeCopy-std-32/PROJECT_ASSISTANT/
Installation/ExtremeCopy-std-64/PROJECT_ASSISTANT/
Installation/ExtremeCopy-pro-32/PROJECT_ASSISTANT/
Installation/ExtremeCopy-pro-64/PROJECT_ASSISTANT/

Installation/ProgramFile/

Installation/old-shortcut/

# for ExtremeCopy
[bB]uild/x86
[Bb]uild/x64
[Bb]uild

[Dd]ebug
[Rr]ealse

XCopyVISTA/Build/
Installation/ProgramFile

ExtremeCopy-pro-32/PROJECT_ASSISTANT
ExtremeCopy-pro-64/PROJECT_ASSISTANT

*.db
*.opendb